<template>
  <button
    class="rounded p-2 my-2"
    :class="classObject"
    :title="title"
    :type="type"
    @click="onClick"
  >
    <slot />
  </button>
</template>

<script lang="ts">
export default {
  props: {
    buttonStyle: {
      type: String,
      default: 'base',
    },
    title: String,
    className: {
      type: String,
      required: false,
    },
    type: String,
  },
  computed: {
    classObject() {
      return {
        'bg-red-400': this.buttonStyle === 'remove',
        'bg-green-400 text-white': this.buttonStyle === 'create',
        'bg-blue-400 text-white': this.buttonStyle === 'base',
      };
    },
  },
  methods: {
    onClick(e: any) {
      this.$emit('click', e);
    },
  },
};
</script>

<style></style>
