<template>
  <section>
    <h2 v-if="!isEmpty" class="text-4xl mt-8">
      <span aria-hidden="true">📝</span>Create Project
    </h2>
    <img v-if="isEmpty" src="/empty.svg" class="max-height-image" />
    <hr v-if="!isEmpty" class="my-4" />
    <p v-if="isEmpty" :class="centerClass" class="text-xl">
      So empty create a project below in the form...
    </p>
    <form :class="centerClass" @submit.prevent="submitForm">
      <input
        v-model="name"
        class="bg-gray-400 focus:bg-gray-600 border-gray-600 border-2 text-white p-2 m-2 text-white rounded"
        name="name"
      />
      <BaseButton
        button-style="create"
        type="submit"
        :disabled="name.length <= 0"
        >Create</BaseButton
      >
    </form>
  </section>
</template>

<script lang="ts">
import { mapActions } from 'vuex';
export default {
  data: () => {
    return {
      name: '',
    };
  },
  methods: {
    ...mapActions({
      addProject: 'projects/addProject',
    }),
    submitForm(): void {
      this.addProject({
        name: this.name,
      });
      this.name = '';
    },
  },
  computed: {
    centerClass() {
      return {
        'flex justify-center content-center': this.isEmpty,
      };
    },
    isEmpty() {
      return this.$store.state.projects.list.length <= 0;
    },
  },
};
</script>

<style>
.max-height-image {
  max-height: 30rem;
  margin: 0 auto;
}
</style>
