<template>
  <section v-if="projects.length > 0" class="min-w-full">
    <h2 class="text-4xl"><span aria-hidden="true">⏲</span> Bob's Projects</h2>
    <hr class="my-4" />
    <table class="table-full min-w-full">
      <thead>
        <tr>
          <th class="px-4 py-2"></th>
          <th class="px-4 py-2">Project Name</th>
          <th class="px-4 py-2">Time Spent</th>
          <th class="px-4 py-2"></th>
        </tr>
      </thead>
      <ProjectsTableItem
        v-for="project in projects"
        :key="project.id"
        :project="project"
        :hours="getHoursOnProject(project.id)"
        :actively-tracking="activelyTracking"
      />
    </table>
  </section>
</template>

<script lang="ts">
import { mapActions } from 'vuex';
import { IProject } from 'store/projects';
import { ITrackedTime } from 'store/hours';
export default {
  computed: {
    projects(): IProject[] {
      return this.$store.state.projects.list;
    },
    activelyTracking() {
      return (
        this.$store.state.hours.active.map((t: ITrackedTime) => t.projectId) ||
        []
      );
    },
  },
  created() {
    this.getProjects();
    this.getHours();
  },
  methods: {
    ...mapActions({
      getProjects: 'projects/getProjects',
      getHours: 'hours/getHours',
    }),
    getHoursOnProject(projectId: string): ITrackedTime[] {
      const hoursOnProject = this.$store.state.hours.all.filter(
        (t: ITrackedTime) => t.projectId === projectId
      );

      return (hoursOnProject.length > 0 && hoursOnProject) || [];
    },
  },
};
</script>
