<template>
  <td class="border px-4 py-2">
    <BaseButton v-if="active" @click="stopTrack(projectId)">
      <span aria-hidden="true">⏸</span> Stop Tracking
    </BaseButton>
    <BaseButton v-else @click="startTrack(projectId)">
      <span aria-hidden="true">⏯</span> Start Tracking
    </BaseButton>
  </td>
</template>

<script lang="ts">
import { mapActions } from 'vuex';
import { IProject } from 'store/projects';
export default {
  props: {
    active: Boolean,
    projectId: String,
  },
  methods: {
    ...mapActions({
      startTracking: 'hours/startTracking',
      stopTracking: 'hours/stopTracking',
    }),
    startTrack(projectId: string): void {
      this.startTracking({ projectId });
    },
    stopTrack(projectId: string): void {
      // So here comes magic... in the store we know the projectId too...
      // so if we send that we are able to take the active projects... get the active time slot from the project
      // then "stop" that timeslot programmatically...
      this.stopTracking({ projectId });
    },
  },
  computed: {
    projects(): IProject[] {
      return this.$store.state.projects.list;
    },
  },
};
</script>

<style></style>
