<template>
  <tr className="flex flex-row">
    <ProjectsTableItemTracker
      :project-id="project.id"
      :active="activelyTracking.find((n) => n === project.id)"
    />
    <td class="border px-4 py-2">
      <strong>{{ project.name }}</strong>
    </td>
    <td class="border px-4 py-2">
      <span v-if="hours.length > 0">
        {{ calculateHours() }}
      </span>
    </td>
    <td class="border px-4 py-2">
      <BaseButton
        button-style="remove"
        :title="'Delete ' + project.name"
        @click="deleteProject(project)"
      >
        Delete {{ project.name }}
      </BaseButton>
    </td>
  </tr>
</template>

<script lang="ts">
import { mapActions } from 'vuex';
import { IProject } from 'store/projects';
import ms from 'ms';
// import { ITrackedTime } from 'store/hours';
export default {
  props: {
    project: Object,
    activelyTracking: Array,
    hours: {
      type: Array,
      required: false,
    },
  },
  methods: {
    ...mapActions({
      removeProject: 'projects/removeProject',
    }),
    deleteProject(project: IProject): void {
      this.removeProject(project);
    },
    calculateHours(): string {
      if (this.hours.length <= 0) {
        return 'Not started';
      }
      // For some odd reason the interface inference fails here
      // Must investigate why...  as ITrackedTime is not compatible with the reduce function
      const nonActiveHoursInMs: number =
        this.hours &&
        this.hours.reduce((c: number, t: any) => {
          if (!t.started) {
            return c;
          }
          if (t.active) {
            return c;
          }
          return (c + (t.stopped - t.started)) as number;
        }, 0);
      return (
        (this.hours.length > 0 && ms(nonActiveHoursInMs, { long: true })) ??
        'Not started'
      );
    },
  },
  computed: {},
};
</script>

<style></style>
