<template>
  <main class="container mx-auto p-8 bg-white rounded shadow">
    <ProjectsTable />
    <ProjectsCreate is-empty="true" />
  </main>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>
